@import "./variables.scss";
@import "./mixins.scss";

main {
    position: relative;
    min-block-size: $size-full;
    background-color: $colour-light-pink;

    span {
        font-family: $font-family;
    }

    .initHidden {
        display: none;
    }

    .headBanner {
        @include imageCoverFullWidth;
        display: block;
        background-image: $icon-background-pattern-desktop;
        height: 200px;
        width: 100%;
    }

    .card {
        @include displayAbsoluteCenter;
        @include displayFlexCol;
        max-width: 300px;
        background-color: $colour-white;
        padding: $spacing-standard;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        gap: $spacing-standard;

        .cardHeader {
            @include displayFlexRow;
            gap: 15px;
            align-items: center;

            .star {
                height: 20px;
                width: 20px;
            }

            .cardHeaderText {
                font-size: $font-size-header;
                font-weight: $font-weight-700;
            }

        }

    }
}

@media (max-width: $page-break-mobile) {
    main {
        .headBanner {
            background-image: $icon-background-pattern-mobile;
        }
    }
}