$page-break-mobile: 375px;
$page-break-desktop: 1440px;

$colour-white: hsl(0, 0%, 100%);
$colour-light-pink: hsl(275, 100%, 97%);
$colour-greyish-purple: hsl(292, 16%, 49%);
$colour-dark-purple: hsl(292, 42%, 14%);
$colour-purple: #9933ff;
$colour-grey: gray;

$font-size-paragraph: 0.875rem;
$font-size-header: 2.5rem;
$font-family: "Work Sans";
$font-weight-400: 400;
$font-weight-600: 600;
$font-weight-700: 700;

$icon-background-pattern-desktop: url("../images/background-pattern-desktop.svg");
$icon-background-pattern-mobile: url("../images/background-pattern-mobile.svg");
$icon-minus: url("../images/icon-minus.svg");
$icon-plus: url("../images/icon-plus.svg");

$size-full: 100dvh;
$size-full-parent: 100%;
$size-half-parent: 50%;
$size-half-parent-negative: -50%;

$spacing-lg: 25px;
$spacing-standard: 20px;
$spacing-md: 15px;

$border-radius: 8px;

$box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2);