$page-break-mobile: 375px;
$page-break-desktop: 1440px;

$colour-white: hsl(0, 0%, 100%);
$colour-light-pink: hsl(275, 100%, 97%);
$colour-greyish-purple: hsl(292, 16%, 49%);
$colour-dark-purple: hsl(292, 42%, 14%);

$font-size-paragraph: 1rem;
$font-family: "Work Sans";
$font-weight-400: 400;
$font-weight-600: 600;
$font-weight-700: 700;

$icon-background-pattern-desktop: url("../images/background-pattern-desktop.svg");
$icon-background-pattern-mobile: url("../images/background-pattern-mobile.svg");

$size-full: 100dvh;
$size-half-parent: 50%;
$size-half-parent-negative: -50%;